Repository DeepDive-SOLID/WebIDE, pull requests merged in 2025-07, with the labels that each got.

#24 feat: 회원가입, 로그인 기능 개발
  backend/.gitattributes
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/solid/backend/BackendApplication.java
  backend/src/main/java/solid/backend/Jwt/AccessToken.java
  backend/src/main/java/solid/backend/Jwt/JwtController.java
  backend/src/main/java/solid/backend/Jwt/JwtFilter.java
  backend/src/main/java/solid/backend/Jwt/JwtUtil.java
  backend/src/main/java/solid/backend/Jwt/README.md
  backend/src/main/java/solid/backend/ServletInitializer.java
  backend/src/main/java/solid/backend/common/FileManager.java
  backend/src/main/java/solid/backend/config/FileStorageConfig.java
  backend/src/main/java/solid/backend/config/FileStorageHandlerConfig.java
  backend/src/main/java/solid/backend/config/QueryDSLConfig.java
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/entity/Auth.java
  backend/src/main/java/solid/backend/entity/Chat.java
  backend/src/main/java/solid/backend/entity/Code.java
  backend/src/main/java/solid/backend/entity/CodeFile.java
  backend/src/main/java/solid/backend/entity/Container.java
  backend/src/main/java/solid/backend/entity/Directory.java
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/entity/Progress.java
  backend/src/main/java/solid/backend/entity/Question.java
  backend/src/main/java/solid/backend/entity/Result.java
  backend/src/main/java/solid/backend/entity/Team.java
  backend/src/main/java/solid/backend/entity/TeamUser.java
  backend/src/main/java/solid/backend/entity/TestCase.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/sign/READMD.md
  backend/src/main/java/solid/backend/sign/controller/SignController.java
  backend/src/main/java/solid/backend/sign/dto/SignCheckIdEmailDto.java
  backend/src/main/java/solid/backend/sign/dto/SignFindIdDto.java
  backend/src/main/java/solid/backend/sign/dto/SignInDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpCheckEmailDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpCheckIdDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpdPwDto.java
  backend/src/main/java/solid/backend/sign/service/SignService.java
  backend/src/main/java/solid/backend/sign/service/SignServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/java/solid/backend/BackendApplicationTests.java
Labels: enhancement, backend, priority high

#23 feat: 회원가입 로그인 페이지 개발
  README.md
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/api/signApi.ts
  frontend/src/assets/CodeWith.png
  frontend/src/assets/back.svg
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/FindId.tsx
  frontend/src/pages/FindPw.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/stores/index.ts
  frontend/src/styles/Find.module.scss
  frontend/src/styles/Login.module.scss
  frontend/src/styles/Signup.module.scss
  frontend/src/styles/index.css
  frontend/src/types/auth.ts
  frontend/src/utils/auth.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#35 feat: 네비게이션바 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/enter.svg
  frontend/src/assets/icons/spacebar.svg
  frontend/src/assets/icons/tab.svg
  frontend/src/assets/images/profile.png
  frontend/src/assets/index.ts
  frontend/src/components/APP/ContextMenu.tsx
  frontend/src/components/APP/Nav/AlgorithmNav.tsx
  frontend/src/components/APP/Nav/AppNav.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/components/APP/Sidebar/AppSidebar.tsx
  frontend/src/components/APP/Sidebar/ContainerSidebar.tsx
  frontend/src/components/APP/Sidebar/TreeView.tsx
  frontend/src/components/APP/Sidebar/useTreeManager.ts
  frontend/src/components/UI/Bargraph.tsx
  frontend/src/components/UI/Box.tsx
  frontend/src/components/UI/Button.tsx
  frontend/src/components/UI/InputBox.tsx
  frontend/src/components/UI/Modal.tsx
  frontend/src/components/UI/Toggle.tsx
  frontend/src/pages/Home.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/themeSlice.ts
  frontend/src/styles/AppNav.module.scss
  frontend/src/styles/AppSidebar.module.scss
  frontend/src/styles/Bargraph.module.scss
  frontend/src/styles/Box.module.scss
  frontend/src/styles/ContextMenu.module.scss
  frontend/src/styles/Modal.module.scss
  frontend/src/styles/Toggle.module.scss
  frontend/src/styles/index.css
  frontend/vite.config.ts
Labels: enhancement, frontend

#36 feat: 컨테이너 홈 화면 개발
  frontend/README.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/axios.ts
  frontend/src/api/home.ts
  frontend/src/api/signApi.ts
  frontend/src/assets/icons/back.svg
  frontend/src/assets/icons/empty.svg
  frontend/src/assets/icons/folder.svg
  frontend/src/assets/images/CodeWith.png
  frontend/src/assets/images/profile_img.png
  frontend/src/components/Container/ContainerCard.tsx
  frontend/src/components/Modal/CreateContainer.tsx
  frontend/src/components/Modal/OwnerSetting.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/pages/AllContainer.tsx
  frontend/src/pages/FindId.tsx
  frontend/src/pages/FindPw.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyContainer.tsx
  frontend/src/pages/PublicContainer.tsx
  frontend/src/pages/SharedContainer.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/styles/Container.module.scss
  frontend/src/styles/Find.module.scss
  frontend/src/styles/Login.module.scss
  frontend/src/styles/Modal.module.scss
  frontend/src/styles/Signup.module.scss
  frontend/src/types/auth.ts
  frontend/src/utils/auth.ts
  frontend/vite.config.ts
Labels: enhancement, frontend

#37 feat: 마이페이지 기능 개발
  backend/READMD.md
  backend/src/main/java/solid/backend/entity/Chat.java
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/entity/TeamUser.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/mypage/README.md
  backend/src/main/java/solid/backend/mypage/controller/MypageController.java
  backend/src/main/java/solid/backend/mypage/dto/MypageDto.java
  backend/src/main/java/solid/backend/mypage/dto/MypageProfileDto.java
  backend/src/main/java/solid/backend/mypage/dto/MypageUpdDto.java
  backend/src/main/java/solid/backend/mypage/service/MypageService.java
  backend/src/main/java/solid/backend/mypage/service/MypageServiceImpl.java
Labels: backend

#45 feat: 컨테이너 관리 기능 구현
  backend/build.gradle
  backend/src/main/java/solid/backend/BackendApplication.java
  backend/src/main/java/solid/backend/Jwt/JwtFilter.java
  backend/src/main/java/solid/backend/ServletInitializer.java
  backend/src/main/java/solid/backend/common/ApiResponse.java
  backend/src/main/java/solid/backend/config/QueryDSLConfig.java
  backend/src/main/java/solid/backend/config/SchedulingConfig.java
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/container/README.md
  backend/src/main/java/solid/backend/container/constant/ContainerConstants.java
  backend/src/main/java/solid/backend/container/controller/ContainerController.java
  backend/src/main/java/solid/backend/container/dto/BatchContainerVisibilityDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerCreateDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerMemberDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerResponseDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerSearchDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerStatisticsDto.java
  backend/src/main/java/solid/backend/container/dto/ContainerUpdateDto.java
  backend/src/main/java/solid/backend/container/dto/GroupMemberResponseDto.java
  backend/src/main/java/solid/backend/container/dto/MemberInviteDto.java
  backend/src/main/java/solid/backend/container/exception/ContainerExceptionHandler.java
  backend/src/main/java/solid/backend/container/exception/ContainerNotFoundException.java
  backend/src/main/java/solid/backend/container/exception/DuplicateMemberException.java
  backend/src/main/java/solid/backend/container/exception/InvalidMemberException.java
  backend/src/main/java/solid/backend/container/exception/MemberNotFoundException.java
  backend/src/main/java/solid/backend/container/exception/UnauthorizedContainerAccessException.java
  backend/src/main/java/solid/backend/container/repository/ContainerQueryRepository.java
  backend/src/main/java/solid/backend/container/service/ContainerService.java
  backend/src/main/java/solid/backend/container/service/ContainerServiceImpl.java
  backend/src/main/java/solid/backend/entity/Container.java
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/entity/Team.java
  backend/src/main/java/solid/backend/entity/TeamUser.java
  backend/src/main/java/solid/backend/jpaRepository/AuthRepository.java
  backend/src/main/java/solid/backend/jpaRepository/ContainerJpaRepository.java
  backend/src/main/java/solid/backend/jpaRepository/ContainerRepository.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/jpaRepository/TeamUserRepository.java
  backend/src/main/java/solid/backend/sign/controller/SignController.java
  backend/src/main/java/solid/backend/sign/dto/SignFindIdDto.java
  backend/src/main/java/solid/backend/sign/dto/SignInDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpCheckEmailDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpCheckIdDto.java
  backend/src/main/java/solid/backend/sign/dto/SignUpdPwDto.java
  backend/src/main/java/solid/backend/sign/service/SignService.java
  backend/src/main/java/solid/backend/sign/service/SignServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/schema/WebIDE.sql
  backend/src/main/resources/schema/migration-remove-owner-id.sql
Labels: enhancement, backend

#43 feat: 컨테이너 홈 화면 개발
  frontend/src/api/axios.ts
  frontend/src/api/home.ts
  frontend/src/assets/icons/empty.svg
  frontend/src/assets/icons/folder.svg
  frontend/src/assets/icons/folder_darkmode.svg
  frontend/src/assets/images/profile_img.png
  frontend/src/components/APP/Nav/AppNav.tsx
  frontend/src/components/APP/Sidebar/ContainerSidebar.tsx
  frontend/src/components/Container/ContainerCard.tsx
  frontend/src/components/Modal/CreateContainer.tsx
  frontend/src/components/Modal/OwnerSetting.tsx
  frontend/src/components/UI/Modal.tsx
  frontend/src/main.tsx
  frontend/src/pages/AllContainer.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyContainer.tsx
  frontend/src/pages/PublicContainer.tsx
  frontend/src/pages/SharedContainer.tsx
  frontend/src/styles/AppModal.module.scss
  frontend/src/styles/Container.module.scss
  frontend/src/styles/Modal.module.scss
  frontend/src/types/home.ts
  frontend/src/utils/auth.ts
  frontend/vite.config.ts
Labels: enhancement, frontend

#50 feat: 리덕스 내부에 디렉토리 아이디 + 타이틀 전달
  frontend/src/components/APP/AddFileModal.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/problemSlice.ts
Labels: bug, enhancement, frontend
