Repository DeepDive-SOLID/WebIDE, pull requests merged in 2025-08, with the labels that each got.

#57 fix: 채팅 기능 버그 수정
  backend/src/main/java/solid/backend/chat/repository/ChatQueryRepository.java
  backend/src/main/java/solid/backend/chat/service/ChatServiceImpl.java
Labels: bug, backend

#54 feat: 에디터 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/codefileApi.ts
  frontend/src/api/directoryApi.ts
  frontend/src/api/dockerApi.ts
  frontend/src/api/progressApi.ts
  frontend/src/api/questionApi.ts
  frontend/src/assets/defaultLang.json
  frontend/src/assets/index.ts
  frontend/src/components/APP/AddFileModal.tsx
  frontend/src/components/APP/ContextMenu.tsx
  frontend/src/components/APP/Nav/AlgorithmNav.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/components/APP/Sidebar/AppSidebar.tsx
  frontend/src/components/APP/Sidebar/TreeView.tsx
  frontend/src/components/APP/Sidebar/useTreeManager.ts
  frontend/src/components/UI/InputBox.tsx
  frontend/src/components/ide/codeEditor/CodeEditor.tsx
  frontend/src/components/ide/container/Container.tsx
  frontend/src/components/ide/header/Header.tsx
  frontend/src/components/ide/question/Question.tsx
  frontend/src/components/ide/terminal/TestResult.tsx
  frontend/src/components/ide/terminal/XtermComponent.tsx
  frontend/src/main.tsx
  frontend/src/pages/WebIde.tsx
  frontend/src/pages/containerIde/Ide.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/problemSlice.ts
  frontend/src/stores/terminalSlice.ts
  frontend/src/styles/AddFileModal.module.scss
  frontend/src/styles/AppModal.module.scss
  frontend/src/styles/AppNav.module.scss
  frontend/src/styles/AppSidebar.module.scss
  frontend/src/styles/Chat.module.scss
  frontend/src/styles/Modal.module.scss
  frontend/src/styles/container.module.scss
  frontend/src/styles/ideHeader.module.scss
  frontend/src/styles/question.module.scss
  frontend/src/styles/test.module.scss
  frontend/src/types/codefile.ts
  frontend/src/types/directory.ts
  frontend/src/types/docker.ts
  frontend/src/types/ide.ts
  frontend/src/types/progress.ts
  frontend/src/types/question.ts
  frontend/vite.config.ts
Labels: enhancement, frontend

#61 fix: 컨테이너 에디터 연동 버그 수정
  frontend/package-lock.json
  frontend/src/components/APP/Nav/AlgorithmNav.tsx
  frontend/src/components/Container/ContainerCard.tsx
  frontend/src/components/Modal/CreateContainer.tsx
  frontend/src/components/Modal/OwnerSetting.tsx
  frontend/src/components/ide/container/Container.tsx
  frontend/src/components/ide/header/Header.tsx
  frontend/src/components/ide/question/Question.tsx
  frontend/src/main.tsx
  frontend/src/pages/WebIde.tsx
  frontend/src/pages/containerIde/Ide.tsx
  frontend/src/styles/AppNav.module.scss
  frontend/src/styles/AppSidebar.module.scss
  frontend/src/styles/IdeContainer.module.scss
  frontend/src/styles/ideHeader.module.scss
  frontend/src/types/ide.ts
Labels: enhancement, frontend

#63 fix: 컨테이너 디렉터리 조회 오류 & 디자인 수정
  backend/src/main/java/solid/backend/Directory/service/DirectoryServiceImpl.java
  frontend/src/components/APP/Nav/AlgorithmNav.tsx
  frontend/src/pages/WebIde.tsx
  frontend/src/styles/AppModal.module.scss
Labels: bug, frontend, priority high

#67 feat: 활동 상태 색상 연동
  frontend/src/components/Container/ContainerCard.tsx
  frontend/src/types/home.ts
Labels: enhancement, frontend

#71 fix: 에디터 내부 버그 수정
  frontend/src/api/questionApi.ts
  frontend/src/components/APP/AddFileModal.tsx
  frontend/src/components/APP/ContextMenu.tsx
  frontend/src/components/APP/Nav/AlgorithmNav.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/components/Modal/OwnerSetting.tsx
  frontend/src/components/ide/container/Container.tsx
  frontend/src/components/ide/header/Header.tsx
  frontend/src/components/ide/question/Question.tsx
  frontend/src/pages/AllContainer.tsx
  frontend/src/pages/WebIde.tsx
  frontend/src/pages/containerIde/Ide.tsx
  frontend/src/stores/problemSlice.ts
  frontend/src/types/home.ts
Labels: bug, enhancement, frontend

#72 fix: 도커 실행 오류
  backend/src/main/java/solid/backend/common/DockerRun.java
Labels: bug, backend, priority high

#73 feat: 컨테이너별 진행률 조회 기능 구현 및
  backend/src/main/java/solid/backend/Docker/service/DockerServiceImpl.java
  backend/src/main/java/solid/backend/Progress/controller/ProgressController.java
  backend/src/main/java/solid/backend/Progress/dto/ProgressListDto.java
  backend/src/main/java/solid/backend/Progress/service/ProgressService.java
  backend/src/main/java/solid/backend/Progress/service/ProgressServiceImpl.java
  backend/src/main/java/solid/backend/jpaRepository/TeamUserRepository.java
  frontend/src/api/progressApi.ts
  frontend/src/api/questionApi.ts
  frontend/src/components/APP/AddFileModal.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/pages/AllContainer.tsx
  frontend/src/types/progress.d.ts
  frontend/src/types/progress.ts
Labels: enhancement, backend

#79 feat: 엔티티 관계 개선 및 언어별 진행률 관리 기능 추가
  backend/src/main/java/solid/backend/Directory/README.md
  backend/src/main/java/solid/backend/Directory/controller/DirectoryController.java
  backend/src/main/java/solid/backend/Directory/dto/DirectoryDto.java
  backend/src/main/java/solid/backend/Directory/service/DirectoryService.java
  backend/src/main/java/solid/backend/Directory/service/DirectoryServiceImpl.java
  backend/src/main/java/solid/backend/Docker/README.md
  backend/src/main/java/solid/backend/Docker/controller/DockerController.java
  backend/src/main/java/solid/backend/Docker/service/DockerService.java
  backend/src/main/java/solid/backend/Docker/service/DockerServiceImpl.java
  backend/src/main/java/solid/backend/Progress/README.md
  backend/src/main/java/solid/backend/Progress/controller/ProgressController.java
  backend/src/main/java/solid/backend/Progress/dto/ProgressDto.java
  backend/src/main/java/solid/backend/Progress/dto/ProgressListDto.java
  backend/src/main/java/solid/backend/Progress/dto/QuestionProgressDto.java
  backend/src/main/java/solid/backend/Progress/repository/ProgressQueryRepository.java
  backend/src/main/java/solid/backend/Progress/service/ProgressService.java
  backend/src/main/java/solid/backend/Progress/service/ProgressServiceImpl.java
  backend/src/main/java/solid/backend/Question/Controller/QuestionController.java
  backend/src/main/java/solid/backend/Question/README.md
  backend/src/main/java/solid/backend/Question/dto/QuestionCreateDto.java
  backend/src/main/java/solid/backend/Question/dto/QuestionListDto.java
  backend/src/main/java/solid/backend/Question/repository/QuestionQueryRepository.java
  backend/src/main/java/solid/backend/Question/service/QuestionServiceImpl.java
  backend/src/main/java/solid/backend/common/DirectoryPathUtils.java
  backend/src/main/java/solid/backend/container/README.md
  backend/src/main/java/solid/backend/container/repository/ContainerQueryRepository.java
  backend/src/main/java/solid/backend/container/service/ContainerServiceImpl.java
  backend/src/main/java/solid/backend/entity/Directory.java
  backend/src/main/java/solid/backend/entity/Progress.java
  backend/src/main/java/solid/backend/entity/Question.java
  backend/src/main/java/solid/backend/jpaRepository/CodeFileRepository.java
  backend/src/main/java/solid/backend/jpaRepository/DirectoryRepository.java
  backend/src/main/java/solid/backend/jpaRepository/ProgressRepository.java
  backend/src/main/java/solid/backend/jpaRepository/QuestionRepository.java
  backend/src/main/java/solid/backend/jpaRepository/ResultRepository.java
  backend/src/main/java/solid/backend/jpaRepository/TestCaseRepository.java
  frontend/src/api/progressApi.ts
  frontend/src/api/questionApi.ts
  frontend/src/components/APP/AddFileModal.tsx
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/components/ide/container/Container.tsx
  frontend/src/components/ide/terminal/TestResult.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/languageSlice.ts
  frontend/src/stores/progressSlice.ts
  frontend/src/types/directory.ts
  frontend/src/types/docker.ts
  frontend/src/types/progress.d.ts
  frontend/src/types/question.ts
Labels: enhancement, backend

#85 feat: 소셜 로그인 추가
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/sign/READMD.md
  backend/src/main/java/solid/backend/sign/controller/SignController.java
  backend/src/main/java/solid/backend/sign/dto/SignApiDto.java
  backend/src/main/java/solid/backend/sign/service/SignService.java
  backend/src/main/java/solid/backend/sign/service/SignServiceImpl.java
Labels: enhancement, backend

#86 feat: 소셜 로그인 추가
  frontend/src/api/signApi.ts
  frontend/src/components/UI/GoogleLogin.tsx
  frontend/src/components/UI/KakaoLogin.tsx
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/styles/GoogleLogin.module.scss
  frontend/src/styles/KakaoLogin.module.scss
Labels: enhancement, frontend

#77 feat: api 요청 security 작업
  backend/src/main/java/solid/backend/config/SecurityConfig.java
Labels: enhancement, backend

#90 V5.0
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/sign/READMD.md
  backend/src/main/java/solid/backend/sign/controller/SignController.java
  backend/src/main/java/solid/backend/sign/dto/SignApiDto.java
  backend/src/main/java/solid/backend/sign/service/SignService.java
  backend/src/main/java/solid/backend/sign/service/SignServiceImpl.java
  frontend/src/api/axios.ts
  frontend/src/api/signApi.ts
  frontend/src/components/UI/GoogleLogin.tsx
  frontend/src/components/UI/KakaoLogin.tsx
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/styles/GoogleLogin.module.scss
  frontend/src/styles/KakaoLogin.module.scss
Labels: enhancement, backend, frontend

#91 fix: api 요청 Url 변경 및 Security 설정 변경
  backend/src/main/java/solid/backend/CodeFile/controller/CodeFileController.java
  backend/src/main/java/solid/backend/Directory/controller/DirectoryController.java
  backend/src/main/java/solid/backend/Docker/controller/DockerController.java
  backend/src/main/java/solid/backend/Progress/controller/ProgressController.java
  backend/src/main/java/solid/backend/Question/Controller/QuestionController.java
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/mypage/controller/MypageController.java
Labels: bug, backend

#94 v5.1
  backend/src/main/java/solid/backend/CodeFile/controller/CodeFileController.java
  backend/src/main/java/solid/backend/Directory/controller/DirectoryController.java
  backend/src/main/java/solid/backend/Docker/controller/DockerController.java
  backend/src/main/java/solid/backend/Progress/controller/ProgressController.java
  backend/src/main/java/solid/backend/Question/Controller/QuestionController.java
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/mypage/controller/MypageController.java
  frontend/src/api/axios.ts
  frontend/src/api/codefileApi.ts
  frontend/src/api/directoryApi.ts
  frontend/src/api/dockerApi.ts
  frontend/src/api/mypageApi.ts
  frontend/src/api/progressApi.ts
  frontend/src/api/questionApi.ts
  frontend/src/components/APP/Sidebar/AlgorithmSidebar.tsx
  frontend/src/pages/containerIde/Ide.tsx
Labels: bug, backend, frontend
